@{
    ViewBag.Title = "Контакти";
}

<br/>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-2">
            <div class="card-block">
                <p class="card-text">
                    ЦЕНТРАЛЕН ОФИС:<br/>
                    София 1000, бул. България 81,<br/>
                    тел/факс: 02/ 111 22 33; 02/ 222 33 44; 02/ 333 44 55<br/>
                    GSM: 0888 11 22 33<br/>
                    е-mail: office@bettytravel.com<br/>
                    Работно време: понеделник - петък 09.00ч. - 19.00ч.<br/>
                </p>
            </div>
            <img class="img-responsive img-rounded" src="/Content/images/map.png" alt="Card image cap">
        </div>
    </div>
</div>




