

@{
    ViewBag.Title = "Документи";
}


<div class="container-fluid">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-2">
            <div class="card-block">
                <h3>Докато Вие сте на почивка, ние се грижим за Вашетно здраве и сигурност!</h3>
                <p>Ето защо, всеки наш клиент е застрахован с луксозен пакет, независимо от стойността на заплатената почивка.</p>
                <p>Част от привилегиите на застраховката са:</p>
                <p>- безплатно болнично лечение при необходимост</p>
                <p>- покриване на разходи за лекарства по време на почивката</p>
                <p>- безплатни прегледи в болниците в населеното място на почивката</p>
            </div>
            <img class="img-responsive img-rounded" src="/Content/images/lifeinsurance.jpg" alt="Card image cap">
            <div class="card-block">
                <h3>Кога получавате застраховката?</h3>
                <p>Ще получите застраховката си в деня на тръгване, при настаняване в автобусите</p>
                <p>Валидност на застраховката:</p>
                <p>- важи от момента на настаняване в автобуса до връщане и напускане на автобуса отпаркинга на туроператора</p>
                <p>- НЕ ВАЖИ при инциденти, в следствие на неизпълнение на условията на теоператора</p>
                <p>- НЕ ВАЖИ при надхвърляне на разходни суми по полицата за стойност над 1000лв</p>
            </div>
        </div>
    </div>
</div>
