@{
    ViewBag.Title = "За нас";
}

<br/>

<div class="container-fluid text-center">
    <p>Съществуването на туристически агенции започва след масовото навлизане на полети с търговска цел. В България тези компании добиват популярност след падането на комунизма през 1989 година.</p>
    <p>Повечето туристически агенци не продават само самолетни билети, а също и други свързани с пътуването услуги като хотелски резервации и организиране на посещения до обекти от историческа важност или такива с развлекателна цел.</p>
    <p><h4>"Betty Travell АД"</h4> съществува вече 10 години и нашата единствена мисия е да направим почивката Ви незабравима и неповторима!!!</p>
    <img class="img-responsive img-circle" src="/Content/images/World.jpg"/>
</div>

