@model BettyTravelApp.Models.EntityModels.Vacation

@{
    ViewBag.Title = "Изтриване";
}

<h2>Сигурни ли сте, че искате да премахнете почивката от списъка?</h2>

<div class="container-fluid">
    <h4>@Html.DisplayFor(v => v.VacationName)</h4>
    <h4>@Html.DisplayFor(v => v.Price) лв.</h4>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Изтриване" class="btn btn-danger" /> |
        @Html.ActionLink("Обратно към профила", "Profile", null, new { @class = "btn btn-primary" })
    </div>
}

